<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--    <contextName>elAdmin</contextName>-->
    <property name="logDir" value="logs"/>
    <property name="logFileName" value="ysd.log"/>
    <!--服务器IP，日志规范输出需要-->
    <property name="deploymentUnitNo" value="127.0.0.1"/>
    <property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSSS}|${deploymentUnitNo}|%X{globalSerNo}|%X{txnSerNo}|%-5level|%logger{36} - %msg%n"/>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <!--输出到文件，带滚动策略-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 当前日志文件 -->
        <file>${logDir}/${logFileName}</file>

        <!-- 日志滚动策略：按天生成一个新文件，保留30天 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天一个日志文件，命名格式：ysd.2025-08-19.log -->
            <fileNamePattern>${logDir}/${logFileName}%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <!-- 可选：限制日志总大小，比如1GB -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${logPattern}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <!--普通日志输出到控制台-->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

    <!-- 如需打印sql需要配置com包的日志级别为debug -->
    <logger name="com" level="debug"/>

    <!-- 如需打印sql需要配置cn.com包的日志级别为debug -->
    <logger name="cn.com" level="debug"/>

    <!-- 配置Spring相关包的日志级别为warn -->
    <logger name="org.springframework" level="warn"/>

    <!-- 配置Spring Web相关日志 -->
    <logger name="org.springframework.web" level="WARN"/>

</configuration>